/* BEGIN CRUCIAL STYLES */
/**
 * BEGIN CRUCIAL STYLES
 * Do not remove the following properties. They are crucial in guaranteeing the security and styles of the inline menu.
 * 
 * The following properties were hand-picked from a list of all CSS properties on MDN (https://developer.mozilla.org/en-US/docs/Web/CSS/Reference#Keyword_index)
 * based on their ability to manipulate the positioning, size, visibility, and style of the inline menu.
 *
 * Properties `top`, `left`, `width` (#op-menu only), and `background` (#op-button only) are intentially omitted since we
 * need to apply those styles dynamically. This means that they can be overridden by styles applied by the page via JavaScript.
 */
button#op-button,
iframe#op-menu,
iframe#op-save-dialog {
  position: fixed !important;
  z-index: 2147483647 !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  clip-path: none !important;
  clip: auto !important;
  mask: none !important;
  -webkit-mask: none !important;
  /* Required for Chromium-based browsers since `mask` isn't supported without a prefix */
  filter: none !important;
  pointer-events: auto !important;
  resize: none !important;
  transform: none !important;
  rotate: none !important;
  scale: none !important;
  translate: none !important;
}

/* END CRUCIAL STYLES */
iframe#op-menu {
  min-width: 250px !important;
  max-width: 350px !important;
  min-height: 0px !important;
  height: 242px !important;
  max-height: 242px !important;
}

/* END CRUCIAL STYLES */
iframe#op-menu {
  visibility: hidden !important;
  /* Using `visibility` instead of `display` since most canvas functions can't be used within a hidden iframe in Firefox */
  border: none !important;
  border-radius: 6px !important;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 24px rgba(0, 0, 0, 0.07) !important;
  background: white !important;
  outline: 0 !important;
}
iframe#op-menu.ready {
  visibility: visible !important;
}
iframe#op-menu[data-height="87"] {
  height: 87px !important;
}
iframe#op-menu[data-height="115"] {
  height: 115px !important;
}
iframe#op-menu[data-height="140"] {
  height: 140px !important;
}
iframe#op-menu[data-height="193"] {
  height: 193px !important;
}
iframe#op-menu[data-height="200"] {
  height: 200px !important;
}
iframe#op-menu[data-height="210"] {
  height: 210px !important;
}
iframe#op-menu[data-height="214"] {
  height: 214px !important;
}
iframe#op-menu[data-height="242"] {
  height: 242x !important;
}
